
<div class="container" fade-in>
 <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<div class="panel-heading">
  		<h3 class="panel-title">projects</h3>
  	</div>
  </div>
  <div class="panel-body">List of projects
	  <!-- Table -->
	  <table class="table">
		<tr>
		  <th>ID</th>
		  <th>Number</th>
		  <th>Name</th>
		  <th>Acronym</th>
		  <th>Start Date</th>
		  <th>End Date</th>
		  <th>Status</th>
		  <th>Description</th>
		</tr>
		<tr ng-repeat="p in projects">
		  <td>{{p.id}}</td>
		  <td>{{p.number}}</td>
		  <td>{{p.name}}</td>
		  <td>{{p.acronym}}</td>
		  <td>{{p.start}}</td>
		  <td>{{p.end}}</td>
		  <td>{{p.status}}</td>
		  <td>{{p.description}}</td>
		</tr>
	  </table>
   </div>
   <div class="panel-footer">Panel footer
   	  <h4 class="panel-title">WPS of project PROJECT</h4>
	  <!-- Table -->
	  <table class="table">
		<tr>
		  <th>ID</th>
		  <th>Number</th>
		  <th>Name</th>
		  <th>Acronym</th>
		  <th>Start Date</th>
		  <th>End Date</th>
		  <th>Status</th>
		  <th>Description</th>
		</tr>
		<tr ng-repeat="p in projects">
		  <td>{{p.id}}</td>
		  <td>{{p.number}}</td>
		  <td>{{p.name}}</td>
		  <td>{{p.acronym}}</td>
		  <td>{{p.start}}</td>
		  <td>{{p.end}}</td>
		  <td>{{p.status}}</td>
		  <td>{{p.description}}</td>
		</tr>
	  </table>
   	
   </div>
 </div>
</div>
